<!DOCTYPE html>
<html>
    <head>
        <title>Create Posts</title>
    </head>
    <body>

      <form method="POST" action="/posts">
        Name: <input type="text" name="name"><br />
        content: <input type="text" name="content"><br />
        <input type="submit" value="submit">
      </form>

    </body>
</html>
